.uk-logo {
  line-height: 1;
}


.uk-list-bullet > li {
  padding-left: 15px;

  &::before {
    top: 9px;
    width: 5px;
    height: 5px;
    background: @global-secondary-background;
    border-radius: 50%;
  }
}

.uk-slider {

  a {
    color: @global-color;
    text-decoration: none;

    h5 {
      color: @global-secondary-background
    }
  }
}

.tm-h2 {
  font-size: 36px;
}

.tm-mark {
  color: @global-secondary-background;
}

.tm-text-medium {
  font-weight: 500;
}

.tm-text-black {
  font-weight: 900;
}

.tm-list_no-gutters {

  > li:nth-child(n+2), > li > ul {
    margin-top: 0;
  }
}

.tm-pageheader {
  padding-top: 160px;

  &__content {
    max-width: 1030px;
  }
}

.tm-amount {
  width: 75px;
  height: 50px;
  line-height: 50px;
  border: 1px solid @global-border;
  border-radius: 5px;
  text-align: center;
}

.tm-image-wrapper {
  height: 72px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.tm-portfolio {

  .uk-tab > * {
    display: flex;

    > a {
      display: flex;
      align-items: center;
    }
  }
}

.tm-tab__count {
  display: inline-block;
  width: 40px;
  background-color: @global-secondary-background;
  border-radius: 500px;
  font-weight: normal;
  font-size: @global-small-font-size;
  color: @global-inverse-color;
  line-height: 23px;
}

.tm-portfolio-inner-tab {
  padding-bottom: 15px;
  background-color: @global-muted-background;

  h6 {
    font-weight: 700;
  }

  .uk-slidenav {
    width: 52px;
    height: 52px;
  }
}

.tm-slider_padding {
  padding-left: 60px;
  padding-right: 60px;
}

.tm-font-size-medium {
  font-size: @global-medium-font-size;
}

.tm-star {
  position: relative;
  padding-left: 25px;

  &::before {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 1px;
    display: block;
    content: '';
    background: url("/images/red-star.png");
  }
}

.tm-slogan {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 900;
  color: #161313;
  border-radius: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 16.56px 1.44px rgba(0, 0, 0, 0.18);

  &::after {
    content: '';
    width: 22px;
    height: 13px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: url("/images/slogan-arrow.png") no-repeat;
  }
}

.tm-contacts {
  min-height: 530px;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;

  h2 {
    font-size: 36px;
  }
}

.tm-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
