.uk-logo {
  line-height: 1;
}

.uk-navbar-toggle {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 39px;
    height: 39px;
    background-color: @global-secondary-background;
    border-radius: 5px;
  }

  svg {
    position: relative;
    z-index: 2;
  }
}

.uk-list-bullet > li {
  padding-left: 15px;

  &::before {
    top: 9px;
    width: 5px;
    height: 5px;
    background: @global-secondary-background;
    border-radius: 50%;
  }
}

.uk-slider {

  a:not(.uk-slidenav) {
    color: @global-color;
  }

  a {
    text-decoration: none;

    h5 {
      color: @global-secondary-background
    }
  }
}

.uk-subnav {

  a {
    text-decoration: none;
  }
}

.tm-mark {
  color: @global-secondary-background;
}

.tm-text-medium {
  font-weight: 500;
}

.tm-text-black {
  font-weight: 900;
}

.tm-list_no-gutters {

  > li:nth-child(n+2), > li > ul {
    margin-top: 0;
  }
}

.tm-tooltip {
  display: block;
  min-width: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #d8d8d8;

  &:hover {
    color: @global-primary-background;
  }
}

.tm-header {
  transition: background-color 0.2s ease-in-out;

  &.uk-active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.tm-pageheader {

  &__container {
    padding-top: 80px;
  }

  &__content {
    max-width: 1030px;
  }
}

.tm-amount {
  width: 75px;
  height: 50px;
  line-height: 50px;
  border: 1px solid @global-border;
  border-radius: 5px;
  text-align: center;
}

.tm-image-wrapper {
  height: 72px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.tm-portfolio {

  .uk-tab > * {
    display: flex;

    > a {
      display: flex;
      align-items: center;
    }
  }
}

.tm-tab__count {
  display: inline-block;
  width: 40px;
  background-color: @global-secondary-background;
  border-radius: 500px;
  font-weight: normal;
  font-size: @global-small-font-size;
  color: @global-inverse-color;
  line-height: 23px;
}

.tm-portfolio-inner-tab {
  padding-bottom: 15px;
  background-color: @global-muted-background;

  h6 {
    font-weight: 700;
  }

  .uk-slidenav {
    width: 52px;
    height: 52px;
  }
}

.tm-slider_padding {
  padding-left: 60px;
  padding-right: 60px;
}

.tm-font-size-medium {
  font-size: @global-medium-font-size;
}

.tm-star {
  position: relative;
  padding-left: 25px;

  &::before {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 1px;
    display: block;
    content: '';
    background: url("/images/red-star.png");
  }
}

.tm-slogan {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 900;
  color: #161313;
  border-radius: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 16.56px 1.44px rgba(0, 0, 0, 0.18);

  &::after {
    content: '';
    width: 22px;
    height: 13px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: url("/images/slogan-arrow.png") no-repeat;
  }
}

.tm-footer {
  min-height: 530px;
  box-sizing: border-box;
}
.tm-contacts {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 1;
  width: 400px;
  max-width: calc(100% - 30px);
  min-height: 530px;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;

  h2 {
    font-size: 36px;
  }
}

@media (min-width: 640px) {

  .tm-contacts {
    right: 30px;
  }
}

.tm-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tm-modal-small {
  width: 330px;
}

.tm-margin-sm-vertical {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tm-phone-red {
  width: 40px;
  height: 40px;
  background-color: @global-primary-background;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tm-phone-text {
  font-size: 9px;
  color: #fff;
}


@media (max-width: 959px) {

  html {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  .uk-text-large {
    font-size: 18px;
  }

  .uk-subnav > * > :first-child {
    font-size: 12px;
  }

  .tm-font-size-medium {
    font-size: 16px;
  }

  .uk-card-body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .uk-button {
    font-size: 18px;
  }

  .uk-button-large {
    font-size: 16px;
    padding: 0 15px;
  }

  .uk-logo {
    font-size: 22px;

    .uk-text-small {
      font-size: 8px;
    }
  }

  .tm-tab {
    display: none;
  }
}